<br><br><br>
<strong> Conteudo: <%= @conteudo.nome %> </strong>
<br>
<strong>Bimestre: <%= @conteudo.bimestre %></strong>
<br>

<a href ="/conteudo/<%=@conteudo.arquivo%>.pdf">Visualizar arquivo  </a> 