<h3>Perguntas</h3>

<table class="table table-bordered table-hover"
        style="width: 700px;">
<% @pergunta.each do |p| %>
	<tr>
		<th>
    		<%= link_to p.texto, pergunta_path(p) %>
    	</th>
    	
      <%if session[:admin] %>
        <th style="width: 102px;" style="height: 20px">
    		<%= link_to "Editar", edit_pergunta_path(p) %>
    	</th>
    	<th style="width: 102px;" style="height: 20px">
    		<a href="perguntas/deletar/<%=p.id %>">Excluir <a/>
    	</th>
     <% end %>

    </tr>
    <br>

<% end %>

</table>
<br>

<%= link_to "Nova pergunta", new_pergunta_path %>