<br>
<strong> Lista: <%= @lista.nome %> </strong>
<br>
<strong> Conteudo: <%= @conteudo.nome %> </strong>
<br>
<strong>Bimestre: <%= @conteudo.bimestre %></strong>
<br>



<a href ="/lista/<%=@lista.arquivo%>.pdf">	Visualizar arquivo  </a> 